body{
  height: 100vh;
}
#greeting{
  font-size: 2rem;
  margin: 0;
  font-family :'Times New Roman', Times, serif;
}

#name{
  font-size: 3rem;
  background-image: linear-gradient(rgb(20, 17, 199) , rgb(6, 7, 7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}


#aboutMe{
  font-size: 1.2rem;
  font-weight: normal;
  width: 50%;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.profileContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  border-radius: 20px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
}

.socialMediaLogos {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 30%;
}
.socialMediaLogos:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

.profilePic img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
}


.boxesSection {
  margin: 100px;
}

.boxesContainer{
  margin: 10px 150px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  overflow-x: scroll;
}

.boxes{
  margin: 20px;
  padding: 10px;
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.boxes:hover{
  transform: translateY(-10px) scale(1.02);
  transition: transform 0.5s;
}
.popUpSection{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.089);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.popUpData{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popUpPics{
  width: 200px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  
}

.popUpRefers{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.gitReferLink{
  color: #39c7cc;
  font-size: 1rem;
  margin: 10px;
}
.center{
  text-align: center;
}
#chessGame {
  background-color: #f0f8ff;
}
#stockMarket {
  background-color: #e6ffe6;
}
#eWasteManagement {
  background-color: #fff0e6;
}
#bankSystem {
  background-color: #ffffe6;
}
